*{
    margin: 0px;
    padding: 0px;
}
header{
    text-align: center;
}
#name h1{
    font-size: 1.8rem;
    font-family: 'Bree Serif', serif;
    margin-top: 20px;
    margin-left: 20px;
}
#name h2{
    font-size:1rem ;
    padding-left: 20px;
}
#lleft{
    width: 60%;
}
#list{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 0.8rem;
    margin-left: 10px;
}
#list li{
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px 2px;
    border-radius: 20px;
}
#rlist{
    margin-top: 35px;
    list-style-type: none;
}
#name p{
    text-align: center;
    font-size: 1.1rem;
}
.h1-primary{
    font-family: 'Bree Serif', serif;
    color:rgb(11, 182, 250);
    margin-left: 20px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1.7rem;
}
.h2-primary{
    font-size: 1.2rem;
    margin-left: 20px;
}
.h3-primary{
    font-size: 0.9rem;
    margin-left: 20px;
}
.ul-primary{
    margin-left: 30px;
    padding: 10px;
    list-style: disc;
    font-size: 1.2rem;
}
#main{
    display: flex;
    flex-direction: row;
    height: 775px;
    margin: 5px;
}
#left{
    width: 60%;
    margin-top: 50px;
}
#right{
    width: 40%;
    margin-top: 50px;

}
#main{
    border: 2px solid black;
    margin-top: 20px;
}
#education #projects #experience #skills #certification #languages{
    padding: 20px;
}
#cont{
    display: flex;
    flex-direction: row;
}